.container {
	display: -webkit-flex;
	display: flex;
	max-width: 1900px;
	max-height: 50px;
	background-color: black;
	color: white;
	justify-content: flex-end;
	align-items: center;
}
header>.container>ul>li>a {
	line-height: 50px;
	padding: 0 10px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
}
header>.container>ul {
	margin: 5;
	padding: 0;
	list-style-type: none;
}
.hero {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.picture img {
	height: 400px;
	width: 400px;
	justify-content: center;
}
.gallery {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	margin-bottom: 10px;
}
.box {
	width: 200px;
	padding: 20px;
	border: 2px black;
	text-align: center;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	background-color: black;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: center;
	margin: 5px;
}
.name_1, .name_3 {
	flex-grow: 1;
}
.name_2 {
	flex-grow: 4;
}
	